html,
body {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  width: 20%;
  margin: 0 auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 50vh;
  height: 50vh;
  border: black solid 2px;
  margin: 0 auto;
}

.square {
  width: 5vh;
  height: 5vh;
  background-color: blue;
}

h1,
h2,
.grid {
  text-align: center;
}

.snake {
  background-color: rgb(33, 218, 33);
}

.apple {
  background-color: rgb(236, 1, 1);
}
